html, body {
    overflow: hidden;
    margin-bottom: 0px !important;
    height: 100%;
    background-color: #e9ecef;
}

.container{
  width:1025px;
}

.vertical-center {
  height: 90%;
  width:100%;

  text-align: center;
  font: 0/0 a;
}

.vertical-center:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.vertical-center > .container {
  max-width: 100%;

  display: inline-block;
  vertical-align: middle; 
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (max-width: 768px) {
  .vertical-center:before {
    display: none;
  }
}

.mb-4, .my-4 {
  margin-bottom: 0px !important;
}