@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono');

:root {
    --blueColor: #0028aa;
    --grayColor: #bcbdaa;
    --darkgrayColor: #525252;
    --cyanColor: #59ffff;
    --yellowColor: #fffa51;
    --emeraldColor: #184343;
    --lightEmeraldColor: #38a6a6;
    --redColor: #9c0b07;
    --badTextColor: #fe6666;
    --highlightTextColor: #ffffff;
    --fontName: 'IBM Plex Mono', monospaced;

    font-family: var(--fontName) !important;
    font-size: 18px;
}

body {
    background: var(--blueColor);
}

input[type="text"],
input[type="password"] {
    background-color: var(--lightEmeraldColor);
    padding: 3px 4px;
    color: var(--yellowColor);
    border: none;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
    outline: none;
}

.screen {
    width: 800px;
    margin: 3em auto;
    color: var(--grayColor);
}

.screen .title {
    margin-bottom: 0;
}

.screen hr {
    border: 1px solid;
}

.screen ul {
    margin-left: 2em;
}

.list {
    display: grid;
    grid-template-columns: 125px 1fr;
    margin-top: 2em;
    margin-bottom: 4em;
}

.list span:nth-child(2n-1) {
    text-align: center;
    display: block;
}

.list span[data-status="correct"]::before {
    content: "♦";
    color: var(--cyanColor);
}

.list span[data-status="current"]::before {
    content: "»";
    color: var(--cyanColor);
}

.list span[data-status="fixed"]::before {
    content: "fixed";
    color: var(--redColor);
    font-weight: bold;
}

.button-panel {
    margin-bottom: 1.5em;
}

button:hover {
    cursor: pointer;
}

a,
button {
    background: var(--darkgrayColor);
    border: 0;
    font-family: var(--fontName);
    font-size: 1rem;
    color: var(--grayColor);
    outline: 0;
    padding: 2px;
    margin-right: 1em;
    box-shadow: 10px 8px 0 black;
    text-decoration: none;
}

a:active,
button:active {
    color: var(--highlightColor);
    position: relative;
    left: 10px;
    top: 8px;
    box-shadow: none;
}

a::before,
button::before {
    content: "⯇ ";
    color: var(--highlightColor);
}

a::after,
button::after {
    content: " ⯈";
    color: var(--highlightColor);
}

.status-bar {
    display: grid;
    grid-template-columns: 1fr 600px;
}

.status-bar span[data-count]::before {
    content: attr(data-count);
}

.progressbar {
    background: var(--darkgrayColor);
}

.progressbar .fillbar {
    background: var(--yellowColor);
    width: 0%;
    height: 100%;
}

.screen-2 {
    background: var(--grayColor);
    color: black;
    width: 93%;
    margin-bottom: 30px;
    box-shadow: 10px 10px 0 black;
    padding: 20px;
}

.screen-2 ul {
    list-style-type: none;
    margin: 0 0 2em;
}

.screen-2 ul.data {
    margin-right: 2em;
    text-align: right;
}

.screen-2 .block::before {
    width: 12px;
    height: 22px;
    text-align: center;
    display: inline-block;
}

.screen-2 .unused::before {
    content: "░";
    background: var(--emeraldColor);
    color: var(--lightEmeraldColor);
}

.screen-2 .used::before {
    content: "▒";
    background: var(--lightEmeraldColor);
    color: black;
}

.screen-2 .full::before {
    content: "•";
    background: var(--cyanColor);
    color: black;
}

.screen-2 .bad::before {
    content: "B";
    background: black;
    color: var(--badTextColor);
}

.screen-2 .read::before {
    background: var(--yellowColor);
}

.drive-info {
    padding: 20px;
}

.buttons-dialog {
    margin-top: 20px;
    grid-row: 2;
    grid-column: span 2;
    text-align: center;
}

.screen-3 .button-panel {
    margin-top: 8em;
}

.off {
    display: none;
}