@font-face {
    font-family: victormono;
    src: url("/static/fonts/victor_mono.ttf");
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bottom {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(211, 211, 211, 1) !important;
}

body {
    font-family: victormono;
    background-color: #000;
}

.btn:focus,
.btn:active,
input:focus,
input:active {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus,
.form-control:active {
    outline: none !important;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.034);
    border: rgba(17, 26, 59, 1) 1px solid !important;
}

.form-control {
    border-radius: 0 !important;
    border: rgba(17, 26, 59, 1) 1px solid !important;
    background-color: transparent;
    transition: 0.3s;
    color: rgba(211, 211, 211, 1) !important;
}

.form-control:hover {
    background-color: rgba(255, 255, 255, 0.034);
}

.input-group-text {
    color: rgba(211, 211, 211, 1) !important;
    border: rgba(17, 26, 59, 1) 1px solid !important;
    background-color: transparent !important;
    border-radius: 0 !important;
    border-right: none !important;
}

.postDescription {
    font-size: 1rem;
}

.dateText {
    font-size: 1rem;
    font-style: italic;
}

#bgImg {
    display: none;
}

.footer {
    color: rgba(211, 211, 211, 1) !important;
    text-align: center;
    padding: 13px;
    font-size: 1.2rem;
}

.footer a {
    text-decoration: none !important;
    color: rgba(211, 211, 211, 1) !important;
}

.footer a:hover {
    color: rgb(150, 150, 150) !important;
}

#bgContent {
    display: none;
}

#postContainer {
    color: rgba(211, 211, 211, 1) !important;
    word-wrap: break-word;
}

#aboutContainer {
    color: rgba(211, 211, 211, 1) !important;
}

.line {
    background-color: rgb(187, 187, 187) !important;
    height: 1px;
}

.card {
    color: rgba(211, 211, 211, 1);
    background-color: rgba(3, 4, 10, 1) !important;
    border: rgba(42, 42, 42, 1) solid 1px !important;
    border-radius: 0 !important;
    transition: 0.3s;
}

.card:hover {
    background-color: rgba(6, 9, 20, 1) !important;
}

.modal-footer {
    border-top: rgba(42, 42, 42, 1) solid 1px !important;
}

.modal-header {
    border-bottom: rgba(42, 42, 42, 1) solid 1px !important;
}

.card-img-top {
    max-height: 25vh;
    border-radius: 0 !important;
}

.primaryBtn {
    border-radius: 0 !important;
    border: rgb(25, 39, 87) 1px solid !important;
    color: rgba(211, 211, 211, 1);
    text-decoration: none !important;
    transition: 0.3s;
}

.primaryBtn:hover {
    border: rgb(37, 57, 128) 1px solid !important;
    text-decoration: none !important;
    color: rgba(211, 211, 211, 1);
}

.successBtn {
    border-radius: 0 !important;
    border: rgb(27, 92, 36) 1px solid !important;
    color: rgba(211, 211, 211, 1);
    text-decoration: none !important;
    transition: 0.3s;
}

.successBtn:hover {
    border: rgb(40, 133, 54) 1px solid !important;
    text-decoration: none !important;
    color: rgba(211, 211, 211, 1);
}

.dangerBtn {
    border-radius: 0 !important;
    border: rgb(92, 27, 27) 1px solid !important;
    color: rgba(211, 211, 211, 1);
    text-decoration: none !important;
    transition: 0.3s;
}

.dangerBtn:hover {
    border: rgb(133, 40, 40) 1px solid !important;
    text-decoration: none !important;
    color: rgba(211, 211, 211, 1);
}

.moreBtn {
    border-radius: 0 !important;
    padding: 12px;
    margin-top: 20px !important;
    text-decoration: none !important;
    font-size: 1.3rem;
    border: rgba(17, 26, 59, 1) 1px solid !important;
    background-color: rgba(17, 26, 59, 1) !important;
    color: rgba(211, 211, 211, 1);
    transition: 0.3s;
}

.moreBtn:hover {
    text-decoration: none !important;
    color: rgba(211, 211, 211, 1);
    background-color: rgba(28, 44, 98, 1) !important;
}

#card-container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.panelHead {
    font-size: 1.5rem;
    margin: 0 10px 0 0;
    color: rgb(233, 233, 233) !important;
}

#main_table {
    white-space: nowrap;
    color: rgb(218, 216, 216) !important;
    border: rgba(42, 42, 42, 1) solid 1px !important;
    transition-duration: 0.3s;
}

.table> :not(caption)>*>* {
    transition-duration: 0.3s;
    background-color: transparent !important;
}

.imgContainer {
    background-color: transparent !important;
    width: 100%;
    background-color: #090d20;
}

label {
    color: rgba(211, 211, 211, 1) !important;
}

#createImgPreview,
#editImgPreview,
#createImgPreview1,
#editImgPreview1,
#createImgPreview2,
#editImgPreview2,
#createImgPreview3,
#editImgPreview3,
#siteImgPreview,
#iconImgPreview,
#image1Preview,
#image2Preview,
#image3Preview {
    max-height: 25vh;
}

.tableLink {
    color: rgb(42, 65, 141) !important;
    transition: 0.3s;
}

.tableLink:hover {
    text-decoration: none !important;
    color: rgb(37, 56, 122) !important;
}

.login-link {
    font-size: small;
    color: rgb(70, 106, 223) !important;
    transition: 0.3s;
    text-decoration: none !important;
}

.login-link:hover {
    color: rgb(58, 85, 185) !important;
}

#fieldSelect {
    transition-duration: 0.3s;
    margin-bottom: 20px;
    display: block;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    color: #eee;
    outline: none !important;
    box-shadow: none;
    background-color: rgba(0, 0, 0);
    border: rgba(17, 26, 59, 1) 1px solid !important;
}

#fieldSelect:hover,
#fieldSelect:focus {
    background-color: rgba(255, 255, 255, 0.068);
}

#fieldSelect option {
    background-color: #000;
    color: #fff;
    padding: 8px;
}

select#no-appearance {
    height: 30px;
    border: 0;
    border-radius: 10px;
    padding: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#network {
    border: rgba(42, 42, 42, 1) solid 1px !important;
    height: 50vh;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 1px rgba(42, 42, 42, 1) solid;
    transition-duration: 0.3s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #1b1b1b;
}

::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.068) !important;
}