.topnav {
    color: rgba(211, 211, 211, 1);
    background-color: #000;
    border-bottom: rgba(42, 42, 42, 1) solid 1px !important;
}

.topnav a {
    color: rgba(211, 211, 211, 1);
    transition: 0.3s;
}

.topnav a:hover {
    color: rgba(237, 237, 237, 1);
}