package layout

// import "htbchal/view/ui"

templ App(nav bool) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Official website of the Fray</title>
			<meta charset="UTF-8"/>
			<link rel="stylesheet" href="/public/css/main.css"/>
			<link rel="stylesheet" href="/public/css/bootstrap.min.css"/>
			<script type="text/plain" src="/public/bootstrap.min.js"></script>
		</head>
		{ children... }
	</html>
}
