<div style="border-left: 2px solid white;height: 100vh;" class="col-md-3 p-3 text-white">
    <div class="p-2">
        <h6>User Profile</h6>
        <ul>
            <li><a href="/challenge/settings">Account Settings ({{ user['username'] | safe }})</a></li>
            <li><a href="#"></a>Transaction History</a></li>
            <li><a href="#">Cart</a></li>
        </ul>
    </div>

    <div class="p-2">
        <h6>Navigation</h6>
        <ul>
            <li><a href="/challenge/home">Home</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Featured products</a></li>
            <li><a href="#">Popular items</a></li>
            <li><a href="#">New arrivals</a></li>
        </ul>
    </div>

    {% if user['isInternal'] == 'true' %}
    <div class="p-2">
        <h6>Internal Settings</h6>
        <ul>
            <li><a href="/challenge/product/addProduct">Add New Item</a></li>
            <li><a href="#">Remove Item</a></li>

        </ul>
    </div>
    {% endif %}

    {% if user['isAdmin'] == 'true' %}
    <div class="p-2">
        <h6>Admin Settings</h6>
        <ul>
            <li><a href="/challenge/admin/contracts">Contract Documents</a></li>
        </ul>
    </div>
    {% endif %}

    <div class="p-2">
        <h6>Report Item</h6>

        <input type="text" class="form-control" id="reportID" placeholder="Item ID" aria-label="Item ID"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="nes-btn btn-primary mt-3" onclick="report()" type="button">Report</button>
        </div>

        <div class="nes-container is-rounded is-dark mt-5" style="display: none;text-align: center;" id="reportMessage">
        </div>
    </div>
</div>