{% extends "_layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 2px solid white; padding: 15px;">
    <a class="navbar-brand" style="color: white;" href="#">ApexSurvive</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link text-white" href="/challenge/logout">Logout</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}



{% block body %}
<style>
    a {
        text-decoration: none;
        color: white;
    }

    li {
        padding: 4px;
    }

    [type=file] {
        height: 0;
        overflow: hidden;
        width: 0;
    }

    [type=file]+label {
        border: none;
        border-radius: 5px;
        cursor: pointer;
        display: inline-block;
        font-size: inherit;
        font-weight: 500;
        margin-bottom: 1rem;
        outline: none;
        padding: 1rem 50px;
        position: relative;
        transition: all 0.3s;
        vertical-align: middle;
    }

</style>
<div class="container-fluid">
    <input id="antiCSRFToken" style="display:none;" value="{{antiCSRFToken}}" />

    <div class="row">
        <div class="col text-white">
            <h4 class="mt-3">
                Add Contract
            </h4>

            <div class="mt-5">
                <div class="nes-field">
                    <label for="name_field text-white" style="font-size: 16px; position: unset;">Contractor Name</label>
                    <input type="text" id="name" placeholder="Name" class="nes-input mt-1">
                </div>

                <div class="nes-field mt-4">
                    <label for="name_field text-white" style="font-size: 16px; position: unset;">Select Contract PDF</label>

                    <input type="file" id="file" />
                    <label class="nes-btn"  for="file">Select Contract PDF</label>
                </div>


                <div class="d-flex">
                    <button type="button" onclick="addContract()" class="nes-btn is-primary mt-3">SAVE</button>
                </div>

            </div>

            <div class="nes-container is-rounded is-dark mt-5" style="display: none;text-align: center;" id="message">
            </div>

        </div>


        {% include "_navbar.html" %}

    </div>

</div>
<script src="/static/js/script.js"></script>

{% endblock %}