{% extends "_layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block nav %}
<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 2px solid white; padding: 15px;">
    <a class="navbar-brand" style="color: white;" href="#">ApexSurvive</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link text-white" href="/challenge/logout">Logout</a>
            </li>
        </ul>

    </div>
</nav>
{% endblock %}



{% block body %}
<style>
    a {
        text-decoration: none;
        color: white;
    }

    li {
        padding: 4px;
    }


    code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
    }

    .nft {
        user-select: none;
        max-width: 500px;
        margin: 50px;
        border: 1px solid #ffffff22;
        background-color: #282c34;
        background: linear-gradient(0deg, #282c34 0%, rgba(17, 0, 32, 0.5) 100%);
        box-shadow: 0 7px 20px 5px #00000088;
        border-radius: 0.7rem;
        backdrop-filter: blur(7px);
        -webkit-backdrop-filter: blur(7px);
        overflow: hidden;
        transition: 0.5s all;
    }

    .nft hr {
        width: 100%;
        border: none;
        border-bottom: 1px solid #88888855;
        margin-top: 0;
    }

    .nft ins {
        text-decoration: none;
    }

    .nft .main {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .nft .main .tokenImage {
        border-radius: 0.5rem;
        max-width: 100%;
        object-fit: cover;
    }

    .nft .main .description {
        margin: 0.5rem 0;
        color: #a89ec9;
    }

    .nft .main .tokenInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nft .main .tokenInfo .price {
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
    }

    .nft .main .tokenInfo .price ins {
        margin-left: -0.3rem;
        margin-right: 0.5rem;
    }

    .nft .main .tokenInfo .duration {
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: 0.2rem;
    }

    .nft .main .tokenInfo .duration ins {
        margin: 0.5rem;
        margin-bottom: 0.4rem;
    }

    .nft .main .creator {
        display: flex;
        align-items: center;
        margin-top: 0.2rem;
        margin-bottom: -0.3rem;
    }

    .nft .main .creator ins {
        color: #a89ec9;
        text-decoration: none;
    }

    .nft .main .creator .wrapper {
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: 0.3rem;
        margin: 0;
        margin-right: 0.5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
    }

    .nft .main .creator .wrapper img {
        border-radius: 100%;
        border: 1px solid #ffffff22;
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        margin: 0;
    }

    .nft ::before {
        position: fixed;
        content: "";
        box-shadow: 0 0 100px 40px #ffffff08;
        top: -10%;
        left: -100%;
        transform: rotate(-45deg);
        height: 60rem;
        transition: 0.7s all;
    }

    .nft:hover {
        border: 1px solid #ffffff44;
        box-shadow: 0 7px 50px 10px #000000aa;
        transform: scale(1.015);
        filter: brightness(1.3);
    }

    .nft:hover ::before {
        filter: brightness(0.5);
        top: -100%;
        left: 200%;
    }


    .nft-container {
        height: 100vh;
        /* Set a fixed height for the container */
        overflow-y: auto;
        /* Enable vertical scroll if needed */
    }

    .ellipsis {
        white-space: nowrap;
        /* Prevents text from wrapping */
        overflow: hidden;
        /* Hides overflowing content */
        text-overflow: ellipsis;
        /* Displays an ellipsis (...) for overflowed text */
        width: 100%;
        /* Adjust the width as needed */
    }
</style>
<div class="container-fluid">
    <input id="antiCSRFToken" style="display:none;" value="{{antiCSRFToken}}" />
    <div class="row">
        <div class="col-md-9 text-white">
            <div class="nft-container d-flex flex-wrap">

                {% for item in products %}
                <div class="nft">
                    <div class='main'>
                        <img class='tokenImage' src="{{ item.image }}" alt="NFT" />
                        <h4 style="margin-top: 3rem;">{{ item.name }}</h4>
                        <p class='description ellipsis' style="margin-top: 2rem;">{{ item.description }}</p>
                        <div class='tokenInfo' style="margin-top: 1rem;">
                            <div class="price">
                                <p>$ {{ item.price }}</p>
                            </div>
                            <div class="duration">
                                <a href="/challenge/product/{{item.id}}">
                                    <button class="btn nes-btn">View</button>
                                </a>
                            </div>
                        </div>


                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>

        {% include "_navbar.html" %}


    </div>

</div>
<script src="/static/js/script.js"></script>


{% endblock %}