{% extends "_layout.html" %}

{% block title %}
Login
{% endblock %}

{% block nav %}
<div style="justify-content: center;display: grid;">
  <h1 style="text-align: center; color: #fff !important;">ApexSurvive</h1>
  <span style="text-align: center; color: #fff !important;">Want anything! Get anything!</span>
</div>
{% endblock %}


{% block body %}
<style>
  .center-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
  }
</style>

<div class="center-container">
  <div class="login-container">
    <div class="nes-field">
      <label for="name_field text-white" style="position: unset; color: white;">Email</label>
      <input type="text" id="email" placeholder="Email" class="nes-input mt-1">
    </div>

    <div class="nes-field">
      <label for="name_field" class="mt-3" style="position: unset; color: white;">Password</label>
      <input type="text" id="password" placeholder="Password" class="nes-input mt-1">
    </div>

    <div class="d-flex">
      <button type="button" id="login-btn" onclick="login()" class="nes-btn is-primary mt-3">Login</button>
      <button type="button" onclick="register()" class="nes-btn is-primary mt-3" style="margin-left: 20px">Register</button>
    </div>

    <div class="nes-container is-rounded is-dark mt-5" style="display: none;text-align: center;" id="message">
    </div>
  </div>
</div>

<script src="/static/js/auth.js"></script>

{% endblock %}