<!DOCTYPE html>
<html>
<head>
    <title>Mail Inbox </title>
    <link rel="stylesheet" href="/email/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Inbox</h3>
                    <a href="/email/deleteall" class="btn btn-danger" style="margin-left: 10px;">Delete all</a>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">From</th>
                            <th scope="col">To</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in result %}
                            <tr>
                                <td>{{ item.from }}</td>
                                <td>{{ item.to }}</td>
                                <td>{{ item.subject }}</td>
                                <td>{{ item.text }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row" style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%);">
        <div class="col-md-12">
            <footer class="bg-light text-center p-3">
                <p>Created by Xclow3n with <img style="width: 20px;" src="/email/static/images/LaughtPepe.gif"></p>
            </footer>
        </div>
    </div>
    
</body>
</html>