<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KORP Terminal - Log-in</title>
    <link rel="shortcut icon" href="/static/img/icon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div class="screen">
        <div class="screen-2">
            <form action="" method="post">
                <p class="title">KORP Terminal - User Authentication</p>
                <hr>
                <label>Username:</label>
                <input type="text" name="username" placeholder="...">
                <br>
                <label>Password:</label>
                <input type="password" name="password" placeholder="...">
                <div class="buttons-dialog">
                    <button type="submit" href="javascript:void();">Log-in</button>
                    <button>Close connection</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>