<!DOCTYPE html>
<html>
<head>
	<title>Percetron | Hosts</title>
	include includes/head.pug
</head>
<body>
	<div class="d-flex" id="wrapper">
		include includes/sidebar.pug
		<div id="page-content-wrapper">
			include includes/navbar.pug
			<div class="container m-4">
				<div class="row">
					<p class="panelHead mb-3">About</p>
				</div>
				<div class="row p-2 text-white">Welcome to Percetron, your premier destination for comprehensive and powerful insights into digital certificates and hosts. Percetron is a cutting-edge search engine designed to provide users with a seamless and efficient experience in exploring the vast landscape of digital security.</div>
			</div>
		</div>
	</div>
</body>
</html>