<!DOCTYPE html>
<html lang="en">

<head>
	<title>Log-in</title>
	include includes/head.pug
</head>
<body>
	<div class="container center">
		<div class="row">
			<div class="col-md-6 offset-md-3">
				<div class="card p-4 jumbotron">
					<form action="/panel/login" method="POST">
						<h2 class="mb-3">Log-in</h2>
						<div class="form-group input-group mt-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-user"></i></span>
							</div>
							<input class="form-control" type="text" name="username" placeholder="Username" required>
						</div>
						<div class="form-group input-group mt-2">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="las la-key"></i></span>
							</div>
							<input class="form-control" type="password" name="password" placeholder="Password" required>
						</div>
						<button type="submit" class="btn primaryBtn w-100 mt-2 mb-1">Submit</button>
						<a class="login-link" href="/panel/register">Register</a>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="bottom">
		span= "Percetron Interface v" + version
	</div>
</body>

</html>