{% extends "_layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block nav %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.9/purify.min.js"></script>

<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="/static/css/product.css">

<nav class="navbar navbar-expand-lg navbar-light" style="border-bottom: 2px solid white; padding: 15px;">
    <a class="navbar-brand" style="color: white;" href="#">ApexSurvive</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link text-white" href="/challenge/logout">Logout</a>
            </li>
        </ul>


    </div>
</nav>
{% endblock %}



{% block body %}
<style>
    a {
        text-decoration: none;
        color: white;
    }

    li {
        padding: 4px;
    }
</style>
<div class="container-fluid">

    <input id="antiCSRFToken" style="display:none;" value="{{antiCSRFToken}}" />
    
    <div class="row">
        <div class="col-md-9 text-white">
            <div class="container mt-5">
                <div class="grid product">
                    <div class="column-xs-12 column-md-7">
                        <div class="product-gallery">
                            <div class="product-image">
                                <img class="active" src="{{product.image}}">
                            </div>
                        </div>
                    </div>
                    <div class="column-xs-12 column-md-5">
                        <h1 class="text-white">{{ product.name }}</h1>
                        <h2 class="text-white">${{ product.price }}</h2>
                        <div class="description">
                            <p>{{product.description}}</p>
                        </div>
                        <button class="add-to-cart">Add To Cart</button>
                        <button class="add-to-cart">Buy</button>
                    </div>
                </div>

                <div class="related-products">
                    <div class="column-xs-12">
                    </div>
                    <div id="note" class="mt-4" style="color: white !important;">
                        
                        
                    </div>
                  </div>
            </div>
        </div>
        <script>
            let note = `{{ product.note | safe }}`;
            const clean = DOMPurify.sanitize(note, {FORBID_ATTR: ['id', 'style'], USE_PROFILES: {html:true}});

            document.getElementById('note').innerHTML += clean;
        </script>

        {% include "_navbar.html" %}


    </div>

</div>
<script src="/static/js/script.js"></script>

{% endblock %}