{% extends "_layout.html" %}

{% block title %}
Login
{% endblock %}

{% block nav %}
<div style="justify-content: center;display: grid;">
  <h1 style="text-align: center; color: #fff !important;">ApexSurvive</h1>
  <span style="text-align: center; color: #fff !important;">Want anything! Get anything!</span>
</div>
{% endblock %}


{% block body %}
<style>
  .center-container {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .login-container {
    width: 50%;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2rem;
  }
</style>

<div class="center-container">
  <div class="login-container" style="border: unset;">
    <div class="nes-container is-rounded is-dark mt-5" style="text-align: center;" id="message">
      {{ data }}
    </div>
  </div>
</div>

<script src="/static/js/auth.js"></script>

{% endblock %}