<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The API</title>
    <link rel="stylesheet" type="text/css" href="/static/rpgui/dist/rpgui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="inner rpgui-container rpgui-content framed-golden-2 rules">
        <h1>The API</h1>
        <hr class="golden">
        <p>
            There are 6 endpoints:
        </p>
        <ul>
            <li><b>/</b> - Loads the UI</li>
            <li><b>/rules</b> - Loads the Rules</li>
            <li><b>/api</b> - Loads information about the API (here)</li>
            <li><b>/regenerate</b> - Regenerates the map in case something goes wrong, resetting the number of solved games to 0</li>
            <li><b>/map</b> - A POST request (with no data) will return all relevant information about the game, in JSON format</li>
            <li><b>/update</b> - The most important endpoint, it takes a POST request with JSON data. The <i>direction</i> field should be set to one of <b>UDLR</b> to move the player <b>Up</b>, <b>Down</b>, <b>Left</b> or <b>Right</b>. This endpoint will return various information for the updating of the frontend after every move, as well as any <b>errors</b> that occur (in the <b>error</b> field) due to invalid choices and a <b>solved</b> field set to <i>True</i> if you have reached the weapon before your time ran out. A <b>flag</b> field that contains the flag is also returned if <i>all</i> the games have been solved without error, completing the challenge</li>
        </ul>
    </div>
    <script src="/static/rpgui/dist/rpgui.min.js"></script>
</body>

</html>
