<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Path of Survival</title>
    <link rel="stylesheet" type="text/css" href="/static/rpgui/dist/rpgui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="inner rpgui-container rpgui-content framed-golden-2 rules">
        <h1 class="big-head"><div class="rpgui-icon sword"></div>&nbsp;Get to the Weapons&nbsp;<div class="rpgui-icon shield"></div></h1>
        <hr class="golden">
        <p>
            You are being hunted by the animals of the Fray. Get to a weapon and defend yourself before it's too late!<br>
            View The Rules <a href="/rules">here</a>. View the API <a href="/api">here</a>.<br>
        </p>
        <p>
            Time left: <span id="time"></span>
        </p>
        <p id="error" hidden>
            Error: <span id="error_msg"></span>
        </p>
    </div>
    <div class="inner rpgui-container rpgui-content framed" id="gridContainer"></div>
    <script src="/static/rpgui/dist/rpgui.min.js"></script>
    <script src="/static/game.js"></script>
</body>

</html>