<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The Rules</title>
    <link rel="stylesheet" type="text/css" href="/static/rpgui/dist/rpgui.min.css">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>

<body>
    <div class="inner rpgui-container rpgui-content framed-golden-2 rules">
        <h1>The Rules</h1>
        <h2 class="top-margin">An Overview</h2>
        <hr class="golden">
        <p>
            You are the <b>Player</b>, and your aim is to get to a weapon as quickly as possible. You must use a series of up,
            down, left and right moves to travel between different tiles and make your way to a weapon. To do this, you can
            either utilise the WASD or arrow keys, or you can script it (which <i>may</i> be helpful!).<br>

            Each tile has a <b>terrain</b>, and movement between tiles has an associated <b>time cost</b> depending on the
            terrains of the two tiles and the directions they are approached from. These are outlined below.<br>

            The aim of the game is to get to a weapon before your time runs out. Complete the game 100 times, and you get the flag. Input an invalid move or run out of time, and you go back to 0 solves and the map regenerates.
            Good luck, Player!
        </p>
        <h2 class="top-margin">The Terrains</h2>
        <hr class="golden">
        <p>
            There are 6 different terrains that each tile can have:
        </p>
        <div class="terr-image-grid">
            <div class="terr-image-item">
                <img src="/static/images/cliff.png" alt="Cliff">
                <div class="terr-image-caption">Cliff</div>
            </div>
            <div class="terr-image-item">
                <img src="/static/images/geyser.png" alt="Geyser">
                <div class="terr-image-caption">Geyser</div>
            </div>
            <div class="terr-image-item">
                <img src="/static/images/mountain.png" alt="Mountain">
                <div class="terr-image-caption">Mountain</div>
            </div>
            <div class="terr-image-item">
                <img src="/static/images/plains.png" alt="Plains">
                <div class="terr-image-caption">Plains</div>
            </div>
            <div class="terr-image-item">
                <img src="/static/images/river.png" alt="River">
                <div class="terr-image-caption">River</div>
            </div>
            <div class="terr-image-item">
                <img src="/static/images/sand.png" alt="Sand">
                <div class="terr-image-caption">Sand</div>
            </div>
        </div>
        <p>
            There is also an <b>Empty</b> tile, which simply represents a gap in the map - it cannot be entered!
        </p>
        <h2 class="top-margin">Players and Weapons</h2>
        <hr class="golden">
        <p>
            Tiles may have a secondary image in the bottom-right corner to signify if the player is in that tile or if there is a weapon there.
        </p>
        <div class="pw-image-grid">
            <div class="pw-image-item">
                <img src="/static/images/soldier.png" alt="Player">
            </div>
            <div class="pw-image-item">
                <img src="/static/images/weapon.png" alt="Weapon">
            </div>
        </div>
        <h2 class="top-margin">Time Costs</h2>
        <hr class="golden">
        <p>
            There are 2 basic rules:
        </p>
        <ul>
            <li>Travelling from a tile of one terrain to another tile of the same terrain costs <b>1</b> time point</li>
            <li>A valid movement to or from a <b>Cliff</b> or a <b>Geyser</b> costs <b>1</b> time point</li>
        </ul>
        <p>
            Cliffs and Geysers have additional special rules:
        </p>
        <ul>
            <li>Cliffs can only be entered from the <b>top</b> and the <b>left</b></li>
            <li>Geysers can only be entered from the <b>bottom</b> and the <b>right</b></li>
        </ul>
        <p>
            They are <b>impassable</b> from the other directions. The remaining terrain <i>time point costs</i> are as follows:
        </p>
        <ul>
            <li>Plains to Mountain: 5</li>
            <li>Mountain to Plains: 2</li>
            <br>
            <li>Plains to Sand: 2</li>
            <li>Sand to Plains: 2</li>
            <br>
            <li>Plains to River: 5</li>
            <li>River to Plains: 5</li>
            <br>
            <li>Mountain to Sand: 5</li>
            <li>Sand to Mountain: 7</li>
            <br>
            <li>Mountain to River: 8</li>
            <li>River to Mountain: 10</li>
            <br>
            <li>Sand to River: 8</li>
            <li>River to Sand: 6</li>
        </ul>
    </div>
    <script src="/static/rpgui/dist/rpgui.min.js"></script>
</body>

</html>
