a,
a:hover,
a:active {
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}

.product-card {
    position: relative;
    margin: 10px 0px;
    z-index: 1;
    display: block;
    background: #FFFFFF;
    min-width: 270px;
    height: 470px;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 0.375rem;
    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2)
}

.product-card .card-thumbnail {
    background: #000000;
    /* height: 400px; */
    overflow: hidden;
}

.product-card .card-thumbnail img {
    display: block;
    width: 120%;
    -webkit-transition: all .3s cubic-bezier(0, .5, .5, 1);
    -o-transition: all .3s cubic-bezier(0, .5, .5, 1);
    transition: all .3s cubic-bezier(0, .5, .5, 1);
}

.product-card:hover .card-thumbnail img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .6;
}

.fa-send:before {
    color: #fff;
    position: absolute;
    top: 15px;
    left: 13px;
}

.product-card .card-content {
    position: absolute;
    bottom: 0;
    background: #FFFFFF;
    width: 100%;
    padding: 40px 30px;
    -webkti-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
    transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}

.product-card .card-content .send {
    position: absolute;
    top: -30px;
    right: 10px;
    height: 60px;
    width: 60px;
    background: #197;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s ease;
    transition-delay: 0.3s;
    opacity: 0;
}

.product-card:hover .card-content .send {
    opacity: 1;
}

.product-card .card-content .card-title {
    margin: 0;
    padding: 0 0 10px;
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}

.product-card .card-content .card-sub-title {
    margin: 0;
    padding: 0 0 20px;
    color: #197;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.product-card .card-content .description {
    color: #666666;
    font-size: 12px;
    line-height: 1.8em;
    display: none;
    /* height: 0px; */
}

.product-card .card-content .post-meta {
    margin: 30px 0 0;
    color: #999999;
}

.product-card .card-content .post-meta .time-stamp {
    margin: 0 80px 0 0;
}

.product-card .card-content .post-meta a {
    color: inherit;
    text-decoration: none;
}