<nav class="navbar navbar-expand-lg topnav">
    <div class="container-fluid">
        <button class="btn primaryBtn pl-4" id="menu-toggle"><i class="las la-bars"></i></button>

        <button class="navbar-toggler text-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="las la-bars"></i></span>
        </button>

        <ul class="navbar-nav">
            if userData.username
                <li class="nav-item">
                    <a class="nav-link"><i class="las la-user"></i> #{userData.username}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/panel/logout"><i class="las la-sign-out-alt"></i> Log Out</a>
                </li>
        </ul>
    </div>
</nav>