<div id="sidebar-wrapper">
  div(class="sidebar-heading")= "Percetron " + version
  <div class="list-group list-group-flush">
    <a href="/panel" class="list-group-item list-group-item-action"><i class="las la-tachometer-alt"></i> Dashboard</a>
    <a href="/panel/certificates" class="list-group-item list-group-item-action"><i class="las la-certificate"></i> Certificates</a>
    <a href="/panel/hosts" class="list-group-item list-group-item-action"><i class="las la-server"></i> Hosts</a>
    <a href="/panel/about" class="list-group-item list-group-item-action"><i class="las la-info"></i> About</a>
    if userData.permission == "administrator"
      <a href="/panel/management" class="list-group-item list-group-item-action"><i class="las la-tasks"></i> Management</a>
  </div>
</div>